<a href="https://colab.research.google.com/github/ujjawal0402/AIML/blob/main/experiment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Create a sample database
data = {
    'School ID': [301, 302, 303, 304, np.nan, 306, 307, 308],
    'Admission No.': [32345, 32458, 32567, 32678, 32789, np.nan, 32890, 32901],
    'Name': ['John Doe', 'Jane Smith', 'Emily Davis', 'Michael Brown', 'Sophia Johnson', 'Liam White', 'Emma Wilson', 'Noah Taylor'],
    'Address': ['E-21 HS', 'F-12 TN', 'G-34 JN', 'H-45 PN', np.nan, 'I-67 BL', 'J-89 VK', 'K-10 DF'],
    'City': ['Los Angeles', 'Chicago', 'Houston', 'Phoenix', np.nan, 'Dallas', 'Austin', 'San Diego'],
    'Subject': ['Physics', 'Chemistry', 'Biology', 'Math', 'English', 'History', 'Geography', 'Art'],
    'Marks': [95, 88, np.nan, 90, 86, 82, 91, 84],
    'Rank': [1, 2, 3, 4, 5, 6, 7, 8],
    'Grade': ['A+', 'A', 'B+', 'A', 'B', 'C', 'B', 'B+']
}

df = pd.DataFrame(data)
print("Sample database:")
df

Sample database:

,School ID,Admission No.,Name,Address,City,Subject,Marks,Rank,Grade
0,301.0,32345.0,John Doe,E-21 HS,Los Angeles,Physics,95.0,1,A+
1,302.0,32458.0,Jane Smith,F-12 TN,Chicago,Chemistry,88.0,2,A
2,303.0,32567.0,Emily Davis,G-34 JN,Houston,Biology,NaN,3,B+
3,304.0,32678.0,Michael Brown,H-45 PN,Phoenix,Math,90.0,4,A
4,NaN,32789.0,Sophia Johnson,NaN,NaN,English,86.0,5,B
5,306.0,NaN,Liam White,I-67 BL,Dallas,History,82.0,6,C
6,307.0,32890.0,Emma Wilson,J-89 VK,Austin,Geography,91.0,7,B
7,308.0,32901.0,Noah Taylor,K-10 DF,San Diego,Art,84.0,8,B+

In [ ]:
# Fill missing values for categorical columns with the mode (most frequent value)
df.select_dtypes(include='object').fillna(
    df.select_dtypes(include='object').mode().iloc[0]
)

             Name  Address         City    Subject Grade
0        John Doe  E-21 HS  Los Angeles    Physics    A+
1      Jane Smith  F-12 TN      Chicago  Chemistry     A
2     Emily Davis  G-34 JN      Houston    Biology    B+
3   Michael Brown  H-45 PN      Phoenix       Math     A
4  Sophia Johnson  E-21 HS       Austin    English     B
5      Liam White  I-67 BL       Dallas    History     C
6     Emma Wilson  J-89 VK       Austin  Geography     B
7     Noah Taylor  K-10 DF    San Diego        Art    B+

In [ ]:
# Displaying the first 6 rows of the DataFrame
df.head(6)

,School ID,Admission No.,Name,Address,City,Subject,Marks,Rank,Grade
0,301.0,32345.0,John Doe,E-21 HS,Los Angeles,Physics,95.0,1,A+
1,302.0,32458.0,Jane Smith,F-12 TN,Chicago,Chemistry,88.0,2,A
2,303.0,32567.0,Emily Davis,G-34 JN,Houston,Biology,NaN,3,B+
3,304.0,32678.0,Michael Brown,H-45 PN,Phoenix,Math,90.0,4,A
4,NaN,32789.0,Sophia Johnson,NaN,NaN,English,86.0,5,B
5,306.0,NaN,Liam White,I-67 BL,Dallas,History,82.0,6,C

In [ ]:
# Display DataFrame info (columns, data types, non-null counts)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   School ID      7 non-null      float64
 1   Admission No.  7 non-null      float64
 2   Name           8 non-null      object
 3   Address        7 non-null      object
 4   City           7 non-null      object
 5   Subject        8 non-null      object
 6   Marks          7 non-null      float64
 7   Rank           8 non-null      int64
 8   Grade          8 non-null      object
dtypes: float64(3), int64(1), object(5)
memory usage: 704.0+ bytes

In [ ]:
# Display the count of missing values in each column
df.isna().sum()

School ID        1
Admission No.    1
Name             0
Address          1
City             1
Subject          0
Marks            1
Rank             0
Grade            0
dtype: int64

In [ ]:
# Listwise deletion: Remove rows with any missing values
df_listwise = df.dropna()
print("\nDataFrame after listwise deletion:")
 # Displaying DataFrame after removing rows with missing values.
print(df_listwise)

DataFrame after listwise deletion:
   School ID  Admission No.           Name  Address         City    Subject  \
0      301.0        32345.0       John Doe  E-21 HS  Los Angeles    Physics
1      302.0        32458.0     Jane Smith  F-12 TN      Chicago  Chemistry
3      304.0        32678.0  Michael Brown  H-45 PN      Phoenix       Math
6      307.0        32890.0    Emma Wilson  J-89 VK       Austin  Geography
7      308.0        32901.0    Noah Taylor  K-10 DF    San Diego        Art

   Marks  Rank Grade
0   95.0     1    A+
1   88.0     2     A
3   90.0     4     A
6   91.0     7     B
7   84.0     8    B+

In [ ]:
# Mean Imputation: Filling missing values in 'Marks' column with the mean
df_mean_imputed = df.copy()  # Create a copy of the original DataFrame
mean_marks = df_mean_imputed['Marks'].mean()  # Calculate mean of 'Marks' column
df_mean_imputed['Marks'].fillna(mean_marks, inplace=True)  # Fill missing 'Marks' values with the mean

print("\nDataFrame after mean imputation:")
print(df_mean_imputed)  # Displaying DataFrame after mean imputation

DataFrame after mean imputation:
   School ID  Admission No.            Name  Address         City    Subject  \
0      301.0        32345.0        John Doe  E-21 HS  Los Angeles    Physics
1      302.0        32458.0      Jane Smith  F-12 TN      Chicago  Chemistry
2      303.0        32567.0     Emily Davis  G-34 JN      Houston    Biology
3      304.0        32678.0   Michael Brown  H-45 PN      Phoenix       Math
4        NaN        32789.0  Sophia Johnson      NaN          NaN    English
5      306.0            NaN      Liam White  I-67 BL       Dallas    History
6      307.0        32890.0     Emma Wilson  J-89 VK       Austin  Geography
7      308.0        32901.0     Noah Taylor  K-10 DF    San Diego        Art

   Marks  Rank Grade
0   95.0     1    A+
1   88.0     2     A
2   88.0     3    B+
3   90.0     4     A
4   86.0     5     B
5   82.0     6     C
6   91.0     7     B
7   84.0     8    B+

<ipython-input-13-14c873145cbe>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_mean_imputed['Marks'].fillna(mean_marks, inplace=True)  # Fill missing 'Marks' values with the mean

In [ ]:
# Outlier Detection: Z-Score method
from scipy import stats
# Calculate Z-scores for the 'Marks' column
z_scores = np.abs(stats.zscore(df['Marks']))
threshold = 80  # Define a threshold for Z-score
outliers = np.where(z_scores > threshold)  # Identify outliers with Z-scores beyond the threshold

print("\nOutliers based on Z-score:")
print(df.iloc[outliers])  # Display the rows that are considered outliers

Outliers based on Z-score:
Empty DataFrame
Columns: [School ID, Admission No., Name, Address, City, Subject, Marks, Rank, Grade]
Index: []

In [ ]:
# IQR Method for Outlier Detection
Q1 = df['Marks'].quantile(0.25)  # Calculate the 1st quartile (25th percentile)
Q3 = df['Marks'].quantile(0.75)  # Calculate the 3rd quartile (75th percentile)
IQR = Q3 - Q1  # Calculate the interquartile range (IQR)

# Define lower and upper bounds for detecting outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify rows where 'Marks' is below the lower bound or above the upper bound (outliers)
outliers = df[(df['Marks'] < lower_bound) | (df['Marks'] > upper_bound)]

# Remove the outliers from the DataFrame
df_cleaned = df[(df['Marks'] >= lower_bound) & (df['Marks'] <= upper_bound)]

print("\nDataFrame after removing outliers (IQR method):")
print(df_cleaned)  # Displaying the DataFrame after outlier removal using the IQR method

DataFrame after removing outliers (IQR method):
   School ID  Admission No.            Name  Address         City    Subject  \
0      301.0        32345.0        John Doe  E-21 HS  Los Angeles    Physics
1      302.0        32458.0      Jane Smith  F-12 TN      Chicago  Chemistry
3      304.0        32678.0   Michael Brown  H-45 PN      Phoenix       Math
4        NaN        32789.0  Sophia Johnson      NaN          NaN    English
5      306.0            NaN      Liam White  I-67 BL       Dallas    History
6      307.0        32890.0     Emma Wilson  J-89 VK       Austin  Geography
7      308.0        32901.0     Noah Taylor  K-10 DF    San Diego        Art

   Marks  Rank Grade
0   95.0     1    A+
1   88.0     2     A
3   90.0     4     A
4   86.0     5     B
5   82.0     6     C
6   91.0     7     B
7   84.0     8    B+